<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: rgb(241, 244, 245);
      }
      header {
        background-color: black;
        color: rgb(255, 94, 0);
        text-align: center;
        padding: 7px;
        letter-spacing: 2px;
      }
      .container {
        padding: 20px;
        margin-left: 0px;
      }
    </style>
    <title>Blog</title>
  </head>
  <body>
    <header>
      <h1 class="mb-4">Blog Articles</h1>
    </header>
    <div class="container">
      <h1 class="mb-1"><%= article.title %></h1>
      <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() + " " +
        article.createdAt.getHours() + ":" + article.createdAt.getMinutes() +
        ":" + article.createdAt.getSeconds()%>
      </div>
      <a href="/" class="btn btn-secondary btn-sm">All Articles</a>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info btn-sm"
        >Edit</a
      >

      <div class="mt-3"><%- article.sanitizedHtml %></div>
    </div>
  </body>
</html>
